@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto Slab", serif;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.list_items{
    width: 400px;
}
.list_items h1{
    font-size: 32px;
    margin-bottom: 30px;
}
.list_items ul li{
    font-family: "Roboto", sans-serif;
    list-style: disc;
    font-size: 14px;
    line-height: 21px;
    margin-left: 15px;
}